.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0 15px;
}
.description {
  display: flex;
}
.title {
  color: black;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.promptInput {
  resize: vertical;
  box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, 0.2);
  border: 2px solid black;
  padding: 10px;
  font-weight: bold;
}
.promptInput:focus {
  /* ...existing styles */
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  /* ...existing styles */
  transition: 180ms box-shadow ease-in-out;
  outline: 3px solid transparent;
  border: 4px solid black;
}
.button {
  background-color: #6154f5;
  color: #f2f2f2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
  border: black solid;
}
.response {
  color: black;
  border: 2px solid #6154f5;
  margin-top: 2rem;
  padding: 0 15px;
}
