.nav {
  color: black;
  border-radius: 25px;
  border: 2px solid blue;
  padding: 0 15px;
  margin: 20px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu li {
  display: inline;
}

.link {
  color: black;
  text-decoration: none;
}
